@import url('https://fonts.cdnfonts.com/css/pt-mono');
@import url('https://fonts.cdnfonts.com/css/aref-ruqaa');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDECE4;
    border: 10px solid #CBC6B9;
}

main {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 800px;
    margin-top: 77px;
}

span {
    display: flex;
    align-items: center;
    gap: 30px;
}

.textDay {
    font-size: 18px;
    color: black;
}

.markerGreen {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: green;
}

.textHours {
    width: 318px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.textLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 318px;
    height: 82px;
    border-right: 2px solid black;
}

.text-decoration {
    color: #988C77;
    font-size: 18px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.textWrapper > img {
    width: 200px;
    height: 200px;
}

.textWrapper > h1 {
    font-size: 200px;
}

main > img {
    width: 600px;
    height: 700px;
}

section {
    display: flex;
    width: 1000px;
    margin-bottom: 100px;
}

.title-section {
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 51px;
    padding-left: 10px;
}

.line {
    width: 255px;
    height: 2px;
    background-color: black;
}

article > p, li > p {
    font-size: 18px;
    font-family: 'PT Mono', sans-serif;
    color: black;
    height: 14px;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    color: #988C77;
    font-family: 'Aref Ruqaa', sans-serif;
    font-size: 18px;
    padding-bottom: 12px;
}

.main-menu > h3 {
    font-size: 24px;
    font-family: 'Aref Ruqaa', sans-serif;
    padding-bottom: 26px;
    padding-left: 50px;
}

menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;  
    gap: 30px;
    width: 100%;
    height: 300px;
    margin-left: 60px;
    
}
div > .column{
    display: flex;
    flex-grow: 2;
}

form > input{
    height: 40px;

}
.column input{
    height: 40px;
}

label{
    padding:9px 0px;
}

.line-contact{
    width: 224px;
    margin-right: 60px;
}
menu > img {
    padding-top: 50px;
}

img {
    transition: transform 0.9s;
}

img:hover {
    transform: scale(1.1);
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
form > div{
    display: flex;
    gap: 20px;
}
input{
    border: solid 2px #988C77;
    height: 25px;
    background-color: transparent;
}

textarea{
    border: solid 2px #988C77;
    background-color: transparent;
}
.column{
    display: flex;
    flex-direction: column;
}

button{
    width: 240px;
    height: 40px;
    background-color: transparent;
    border: #988C77 2px solid;
    box-shadow: 5px 5px 0px -2px #CBC6B9, 5px 5px 0px #988C77;

}

form > div:last-child{
    margin-top: 21px;
    justify-content: space-between;
}


article > img{
    margin-top: 60px;
    box-shadow: 0px 0px 0px 10px #CBC6B9;
    width: 100%;
}
/* Form → Input */


footer{
    background: #2A2426;
    width: 100%;
    box-shadow: 0px 0px 0px 10px #2A2426;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer */
footer > div{
    padding: 30px 0px;
    color: white;
    font-family: 'PT Mono';
    display: flex;
    font-size: 18px;
    gap: 450px;
}
